In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('/Users/udaysinghshekhawat/Documents/NIFTY500_dataset/Dataset/103_BAJAJHLDNG.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-01-02,681.099976,691.000000,655.000000,669.450012,543.723328,19619
1,2012-01-03,670.099976,693.950012,666.250000,689.200012,559.764282,20734
2,2012-01-04,676.200012,689.000000,642.650024,649.099976,527.195190,68970
3,2012-01-05,648.250000,656.650024,633.750000,652.849976,530.240906,52112
4,2012-01-06,654.000000,654.000000,641.000000,644.150024,523.174866,19404
...,...,...,...,...,...,...,...
2460,2021-12-27,5033.799805,5128.450195,4961.700195,5083.200195,5083.200195,38067
2461,2021-12-28,5132.000000,5140.000000,5068.850098,5091.149902,5091.149902,30905
2462,2021-12-29,5091.149902,5125.600098,5020.000000,5032.549805,5032.549805,22220
2463,2021-12-30,5053.950195,5183.899902,5040.399902,5158.950195,5158.950195,29684
2464,2021-12-31,5149.000000,5590.000000,5139.799805,5432.049805,5432.049805,49641

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

In [12]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

1st method to handle missing value (drop rows or column )

In [14]:
update_df=df.dropna(axis=1)
update_df.info() 
#columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

In [16]:
update_df=df.dropna(axis=0)
update_df.info()
#rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

In [57]:
df['Open'].mean()

2138.666795265554

In [59]:
df['Open'].mode()

0    770.0
1    800.0
Name: Open, dtype: float64

In [61]:
df['Open'].median()

1979.9000244140625

2nd method to handle null value(fill null value with mean median or mode)

In [67]:
update_df=df
update_df['Open']=update_df['Open'].fillna(df['Open'].mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

In [72]:
update_df=df
update_df['Open']=update_df['Open'].fillna(df['Open'].mode())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

In [18]:
update_df=df
update_df['Open']=df['Open'].fillna(df['Open'].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

3rd method to handle null value (backword or forword filling)

In [79]:
df1=df
df1['Open']=df['Open'].ffill()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB

In [81]:
df1=df
df1['Open']=df['Open'].bfill()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2465 non-null   object
 1   Open       2465 non-null   float64
 2   High       2465 non-null   float64
 3   Low        2465 non-null   float64
 4   Close      2465 non-null   float64
 5   Adj Close  2465 non-null   float64
 6   Volume     2465 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 134.9+ KB